.yiho-business{
    .yiho-business-container{
        width: 1080px;
        margin: 0 auto;
        margin-top: 30px;
        padding-left: 28px;
        padding-right: 28px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 14px;
        .yiho-business-item{
            cursor: pointer;
            .yiho-business-name{
                margin-top: 4px;
            }
        }
    }
}